@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?nczgsf');
  src:  url('fonts/icomoon.eot?nczgsf#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?nczgsf') format('truetype'),
    url('fonts/icomoon.woff?nczgsf') format('woff'),
    url('fonts/icomoon.svg?nczgsf#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-upload1:before {
  content: "\e900";
}
.icon-upload:before {
  content: "\e901";
}
.icon-add:before {
  content: "\e902";
}
.icon-bg:before {
  content: "\e903";
}
.icon-clear:before {
  content: "\e904";
}
.icon-close:before {
  content: "\e905";
}
.icon-del:before {
  content: "\e906";
}
.icon-img:before {
  content: "\e907";
}
.icon-music:before {
  content: "\e908";
}
.icon-save:before {
  content: "\e909";
}
.icon-txt:before {
  content: "\e90a";
}
.icon-view:before {
  content: "\e90b";
}
