.wrap, .cont {
	background: #181818;
} 
.cont {
	/*padding-top: 2.8rem;*/
	padding-bottom: 2rem;
	background: url(../images/card_outer.jpg) center no-repeat;
	background-size: 100% 100%;
}
.head-div {
	background: none;
}
.head-div span {
	color: #fff;
}
.head-div i:before {
	color: #fff;
}
.ec-cont {
	background: none;
	padding: 6rem 5% 0;
}
.ecc-tit {
	/*margin-bottom: .5rem;*/
	font-size: 1rem;
	color: #fff;
	opacity: 1;
}
.ecc-num {
	/*padding-bottom: 1rem;*/
	margin-bottom: 1.5rem;
	font-size: 3rem;
	font-weight: bold;
	color: #fff;
}
.ecc-detail {
	width: 30%;
	padding: .3rem 0;
	margin-bottom: 2rem;
	border: 1px solid #fff;
	background: rgba(255,255,255,0.2);
	color: #fff;
	letter-spacing: 1px;
	text-align: center;
	border-radius: 10rem;
	font-size: 1.1rem;
	display: block;
}
.rp-btn {
	overflow: hidden;
	display: block;
	height: 4rem;
	padding: 0 3%;
	line-height: 4rem;
	color: #fff;
	background: #181818;
	border-bottom: 1px solid #303030;
}
.rp-btn span {
	float: left;
	width: 2rem;
	height: 100%;
	margin: 0 2%;
}
.rp-btn p {
	float: left;
	font-size: 1.05rem;
}
.recharge-btn span {
	background: url(../img/personal-recharge.png) center no-repeat;
	background-size: 80% auto;
}
.pay-btn span {
	background: url(../img/personal-pay.png) center no-repeat;
	background-size: 80% auto;
}
.rp-btn em {
	float: right;
	width: 2rem;
	height: 100%;
	margin: 0 2%;
	background: url(../img/personal-r-arrow.png) right center no-repeat;
	background-size: 60% auto;
}
.eq-img {
	display: none;
	max-width: 650px;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0,.8);
	z-index: 1001;
}

.eq-img div {
	width: 50%;
	height: 50vw;
	margin: 50% auto 0;
	background: #fff;
	border: 3px solid #fff;
}
.eq-img div img {
	width:100%;
	height: 100%;
}
@media screen and (max-width: 650px) {
	.eq-img div {
		height: 50vw;
	}
}
@media screen and (min-width: 650px) {
	.eq-img div {
		height: 375px;
	}
}
.head-div em {
	position: absolute;
    top: .3rem;
    right: 0;
    height: 2.2rem;
    line-height: 2.2rem;
    padding: 0 .5rem;
    font-size: 1rem;
    color: #fff;
}
.head-div em i {
	line-height: normal;
	float: none;
}
.head-div em i:before {
	content: '\e6f7';
	position: relative;
	/*height: 2.2rem;*/
	/*line-height: 2.2rem;*/
	/*display: block;*/
	float: left;
	margin-top: .1rem;
	font-size: 1.4rem;
	padding: 0 .1rem;
}

/*消费明细*/
.statement {
	/*display: none;*/
	max-width: 650px;
	position: fixed;
	top: 0;
	left: 150%;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: 1001;
	background: #000;
	transition: left .5s;
	-moz-transition: left .5s;	
	-webkit-transition: left .5s;	
	-o-transition: left .5s;
}
.statement-scroll {
	left: 0;
}
.sm-scroll {
	/*position: relative;*/
	width: 100%;
	height: 100%;
	overflow-y: scroll;
}
.sm-tit {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	height: 5rem;
	line-height: 5rem;
	font-size: 1.2rem;
	padding: 0 3%;
	background: url(../img/scd_bg.png) no-repeat center;
	background-size: 100% 100%;
	color: #fff;
	-webkit-box-shadow: 0 2px 8px 0 #aaa;
	box-shadow: 0 2px 8px 0 #aaa;
}
.sm-tit i {
	position: absolute;
	top: 0;
	right: 3%;
}
.sm-tit i:before {
	content: "\e6f2";
	color: #fff;
	font-size: 1.8rem;
}
.sm-cont {
	padding: 5rem 3% 1rem;
	/*background: #fff;*/
}
.sm-item {
	position: relative;
	padding: .8rem 0;
	border-bottom: 1px dotted #ccc;
	background: #fff;
}
.sm-img {
	position: absolute;
	top: .8rem;
	left: 0;
	width: 4rem;
	height: 4rem;
	margin:0 .4rem;
	overflow: hidden;
}
.sm-img img {
	float: left;
	width: 100%;
	height: 100%;
	border-radius: 50%;
}
.sm-txt {
	padding-left: 5.5rem;
	overflow: hidden;
}
.sm-nt {
	float: left;
	width: 70%;
}
.sm-price {
	float: right;
	width: 30%;
	padding: 0 1rem;
}
.sm-name {
	height: 2.6rem;
	line-height: 1.2;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 1.2rem;
    color: #000;
}
.sm-time {
	height: 1.4rem;
	/*line-height: ;*/
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 1rem;
    color: #ccc;
}
.sm-price {
	color: #f41;
	font-size: 1.1rem;
	text-align: right;
	height: 1.4rem;
	line-height: 1.4rem;
	font-weight: bold;
}

.sm-refund {
	float: right;
	width: 22%;
	height: 1.8rem;
	margin: .8rem 4% 0;
	/*padding: 0 1rem;*/
	color: #fff;
	font-size: 1rem;
	line-height: 1.8rem;
	text-align: center;
	background: #2FCABB;
}
/*特殊弹窗*/
.window-special {
	display: none;
    max-width: 650px;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100001;
    background: rgba(0,0,0,.5);
}
.window-special .select-box {
	display: block;
}
.window-special .sb-txt span {
	color: #2FCABB;
}
.window-special .sb-txt {
	padding-bottom: 1rem;
}
.window-special .sb-txt-money  {
	padding-top: 0;
	padding-bottom: 3.5rem;
}
.window-special .sb-txt-money span {
	color: #f33;
}
.window-special .sb-txt-money span:after {
	content: " 元";
	font-size: 12px;
}
