/*a:hover {
	text-decoration: none;
    color: inherit;
}*/
.footer-nav {
	max-width: 650px;
	position: fixed;
	width: 100%;
	bottom: 0;
	left: 0;
}
.footer-nav .footer-btn {
	float: left;
	width: 25%;
	height: 60px;
	background: #151515;
	font-size: 14px;
	text-align: center;
	line-height: 90px;
}
.footer-nav .footer-btn:nth-child(1) {
	background: #151515 url(../img/footer_sy.png) top 5px center no-repeat;
	background-size: auto 50%;
}
.footer-nav .footer-btn:nth-child(2) {
	background: #151515 url(../img/footer_kc.png) top 5px center no-repeat;
	background-size: auto 50%;
}
.footer-nav .footer-btn:nth-child(3) {
	background: #151515 url(../img/footer_xc.png) top 5px center no-repeat;
	background-size: auto 50%;
}
.footer-nav .footer-btn:nth-child(4) {
	background: #151515 url(../img/footer_hy.png) top 5px center no-repeat;
	background-size: auto 50%;
}
.footer-nav .fb-sel:nth-child(1) {
	background: #1a1a1a url(../img/footer_sy2.png) top 8px center no-repeat;
	background-size: auto 50%;
}
.footer-nav .fb-sel:nth-child(2) {
	background: #1a1a1a url(../img/footer_kc2.png) top 8px center no-repeat;
	background-size: auto 50%;
}
.footer-nav .fb-sel:nth-child(3) {
	background: #1a1a1a url(../img/footer_xc2.png) top 8px center no-repeat;
	background-size: auto 50%;
}
.footer-nav .fb-sel:nth-child(4) {
	background: #1a1a1a url(../img/footer_hy2.png) top 8px center no-repeat;
	background-size: auto 50%;
}
.footer-nav .footer-btn.fb-sel {
	/*background: #1a1a1a;*/
}