.wrap {
	background: #0d0d0d;

}
.cont.vip-cont {
	/*display: none;*/
}
.cont.visitor-cont {
	/*display: none;*/
}

.cont {
	padding-bottom: 60px;
	background: #0d0d0d;
}
.card-div .swiper-container {
	/*height: 300px;*/
	background: url(../images/card_outer.jpg) center no-repeat;
	background-size: auto 100%;
}
.card-div .ss-outer {
	width: 85%;
	
	margin: 8% auto;
	background: url(../images/card_innder.png) center no-repeat;
	background-size: auto 100%;
	-webkit-box-shadow: 0 0 15px 1px #29b588;
	box-shadow: 0 0 15px 1px #29b588;
	border-radius: 10px;
}
@media screen and (max-width: 650px) {
	.card-div .ss-outer {
		height: 50vw;
	}
}
@media screen and (min-width: 650px) {
	.card-div .ss-outer {
		height: 375px;
	}
}
.card-div .ss-inner {
	position: relative;
	width: 100%;
	height: 100%;
	padding: .8rem;
}
.ss-inner .approach {
	position: absolute;
	top: .8rem;
	left: .8rem;
}
.ss-inner .a-adress {
	float: left;
	height: 3rem;
	margin-left: .3rem;
	font-size: 1.1rem;
	color: #005148;
	/*font-weight: bold;*/
	text-align: center;
	letter-spacing: 1px;
	line-height: 2rem;
	text-align: left;
}
.ss-inner .a-adress span{
	display: block;
	height: 2rem;
	line-height: 2rem;
	font-weight: bold;
	font-size: 1.2rem;
}
.ss-inner .a-adress strong{
	display: block;
	height: 1.4rem;
	line-height: 1.4rem;
	color: #fff;
	font-size: 1rem;
}
.ss-inner .a-txt {
	float: left;
}
.ss-inner .a-btn {
	float: left;
	width: 3.5rem;
	height: 3.5rem;
	margin-bottom: .3rem;
	/*padding: .3rem 1.2rem;*/
	font-size: 14px;
	background: #000;
	color: #53e3a5;
	border-radius: 3rem;
	background: url(../img/index_ico_1.png) no-repeat center;
	background-size: 120% 120%;
}
.ss-inner .user-img {
	position: absolute;
	top: -1rem;
	right: -1rem;
	width: 5rem;
	height: 5rem;
	border: 4px solid #fff;
	border-radius: 50%;
}
.ss-inner .user-img img{
	width: 100%;
	height: 100%;
	border-radius: 50%;
}
.ss-inner .time-remain {
	position: absolute;
	bottom: .8rem;
	left: .8rem;
}
.ss-inner .sstr-tit {
	color: #333;
	font-size: 14px;
}
.ss-inner .sstr-num {
	color: #fff;
	font-size: 24px;
	font-weight: bold;
}
.ss-inner .sstr-num:after {
	content: " 天";
	font-size: 12px;
	font-weight: normal;
}
.ss-inner .card-number {
	position: absolute;
	bottom: .8rem;
	right: .8rem;
}
.ss-inner .a-state {
	margin-top: .3rem;
	color: #000;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	color: #fff;
	letter-spacing: 2px;
}
.ss-inner .cn-number {
	color: #000;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
}
.ss-inner .cn-recharge-btn {
	margin-top: .3rem;
	padding: .3rem 1rem;
	border-radius: 3rem;
	background: rgba(255,255,255,.4);
	color: #fff;
	text-align: center;
	font-size: 1rem;
	border: 1px solid #fff;
}
.swiper-pagination {
	text-align: left;
	text-indent: 10px;
}
.swiper-pagination-bullet {
	background: #fff;
	opacity: .5;
}
.swiper-pagination-bullet-active {
	background: #333;
	opacity: 1;
}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
	margin: 0 3px;
}

.cm-div {
	margin-top: .5rem;
	/*padding: 0 3%;*/
}
.cm-btn {
	display: block;
	overflow: hidden;
	padding: .5rem;
	margin-bottom: .5rem;
	color: #fff;
	background: #000 url(../img/grzx_4.png) center right .5rem no-repeat;
	background-size: auto 40%;
	border-radius: 5px;
}
.cm-btn:nth-child(1) .cm-img {
	background: url(../img/persona-course.png) center no-repeat;
	background-size: 80% 80%;
}
.cm-btn:nth-child(2) .cm-img {
	background: url(../img/persona-people.png) center no-repeat;
	background-size: 80% 80%;
}
.cm-btn:nth-child(3) .cm-img {
	background: url(../img/persona-buy.png) center no-repeat;
	background-size: 80% 80%;
}

.cm-img {
	float: left;
	width: 2.4rem;
	height: 2.4rem;
}

.cm-tit {
	float: left;
	height: 2.4rem;
	line-height: 2.4rem;
	font-size: 1.1rem;
}
.cm-recharge {
	width: 70%;
	/*height: 2.4rem;*/
	/*line-height: 2.4rem;	*/
	margin: 10.5rem auto 0;
	background: #53e3a5;
	color : #fff;
	letter-spacing: 2px;
}
.cm-recharge .cm-tit {
	width: 100%;
	height: 2rem;
	line-height: 2rem;
	text-align: center;
}
.cm-num {
	float: right;
	height: 2.4rem;
	line-height: 2.4rem;
	font-size: 1.2rem;
}
.visitor-cont .cm-tit {
	width: 100%;
	text-align: center;
	letter-spacing: 2px;
	
}
.visitor-cont .cm-div {
	margin-top: 7rem;
}
.visitor-cont .ss-inner .sstr-num:after {
	content: "";
	font-size: 12px;
	font-weight: normal;
}

.eq-img {
	display: none;
	max-width: 650px;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: #34CDB1;
	z-index: 1001;
	text-align: center;
	color: #666;
}

/*.eq-img div {
	width: 50%;
	height: 50vw;
	margin: 50% auto 0;
	background: #fff;
	border: 3px solid #fff;
}*/
.eq-img .eqi-eqimg img {
	width:100%;
}
.eq-img .eqi-tx img{
	width:100%;
}
.eq-img .eqi-div {
	width: 80%;
	height: 82%;
	margin: 8% auto 0;
	padding: 2rem 0 0 0;
	border-radius: 10px;
	background: #fff;
	font-size: 14px;
}
.eq-img .eqi-eqimg {
	width: 50%;
	margin: 1rem auto;
}
.eq-img .eqi-tx {
	width: 25%;
	margin: 0 auto 1rem;
	overflow: hidden;
	border-radius: 50%;
	border: 1.5px solid #37d0ad;
}
.eqi-node, .eqi-name span, .eqi-times span {
	color: #45d89a;
	
}
.eqi-node, .eqi-name {
	margin-bottom: .3rem;
}
.eqi-node:before {
	content: "NO.";
}
.eqi-times {
	margin-bottom: 2.5rem;
}
.eqi-word, .eqi-txt {
	font-size: 12px;
}
.eqi-close {
	width: 12%;
	height: 12vw;
	margin: 1.5rem auto 0;
	background: url(../img/eqi_close.png) no-repeat center;
	background-size: 100% 100%;
}
/*@media screen and (max-width: 650px) {
	.eq-img div {
		height: 50vw;
	}
}
@media screen and (min-width: 650px) {
	.eq-img div {
		height: 375px;
	}
}*/