.wrap, .cont {
	/*background: #f8f8f8;*/
} 
.cont {
	padding-top: 2.8rem;
	/*padding-bottom: 2rem;*/
	background: #0D0D0D;
}

html {
    background: #0D0D0D;
}
.cont {
    padding: 7.4rem 0 0;
}
.head-div {
    /*border-bottom: 1px solid #ccc;*/
}
/*tab切换样式*/
.clc-tab {
    max-width: 650px;
    overflow-y: hidden;
    position:fixed;
    top: 3.8rem;
    
    height: 2.6rem;
    line-height: 2.6rem;
    border-radius: 2.6rem;
}
@media screen and (max-width: 650px) {
	.clc-tab {
		left: 20%;
    	width: 60%;	
	}
}
@media screen and (min-width: 650px) {
	.clc-tab {
		left: 130px;
    	width: 390px;	
	}
}
.clc-tab div {
    float:left;
    width: 50%;
    height: 100%;
    font-size: 1rem;
    text-align: center;
    color:#fff;
    background:#c6c6c6;
}
.clc-tab .clc-tab-sel {
    background:#53e3a5;
}
/*列表样式*/
.col-list-con {
    
    height: 100%;
}
.clc-div {
    overflow:hidden;
    height: 100%;
}
.clc-outer {
    width: 200%;
    height: 100%;
}
.clc-li {
    overflow-y: scroll;
    float:left;
    width: 50%;
    height: 100%;
    padding: 0 2% 0;
    color: #fff;
    
}
.clc-li ul {
	padding-bottom: 60px;
}
.clc-li ul li {
	background: #323232;
	margin-bottom: 1rem;
	overflow: hidden;
	border-radius: 5px;
}
.clc-tit {
	overflow: hidden;
	height: 2.4rem;
	line-height: 2.4rem;
	border-bottom: 1px solid #171616;	
}
.clc-tit span {
	float: left;
	padding: 0 .8rem;
	font-size: 1rem;
	/*color: #53e3a5;*/
}
.clc-tit em {
	float: right;
	padding: 0 .8rem;
	font-size: 1rem;
	color: #f97e7e;
}
.clc-time {
	margin-top: .2rem;
	padding: 0 .8rem;
	font-size: 1rem;
	/*color: #53e3a5;*/
}
.clc-time-use:after {
	height: 2rem;
	line-height: 2rem;
	content: " 已使用";
}
.clc-cont {
	overflow-y: hidden;
	position: relative;
	color: #fff;
}

.clc-img {
	position: absolute;
	top: 0.8rem;
	left: 0;
	width: 4rem;
	height: 4rem;
	margin-left: 1rem;
    border-radius: 50%;
    overflow: hidden;
}
.clc-img img {
    width: 100%;
    height: 100%;
    float: left;
}
.clc-txt {
	padding: .8rem 0 .8rem 6rem;
}
.clc-infor {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 1.9rem;
    font-size: 1rem;
    line-height: 1.5rem;
}
.clc-infor .clc-color {
	color: #53e3a5;
}
.clc-node {
	height: 2.1rem;
    font-size: 1rem;
    line-height: .8rem;
    line-height: 1.8rem;
    color: #53e3a5;
}
.clc-node:before{
	content: "券码：";
}
.clc-num-con {
	height: 4rem;
	line-height: 4rem;
    font-size: 1rem;
    color: #53e3a5;
    text-align: center;
}
.clc-num-con:before{
	content: "券码：";
}
.head-div em {
    position: absolute;
    top: .3rem;
    right: 0;
    height: 2.2rem;
    line-height: 2.2rem;
    padding: 0 .5rem;
    font-size: 1.1rem;
    color: #53e3a5;
}