.head-div {
	background: #fff;
}
.wrap, .cont {
	background: #fff;
} 
.wrap, .cont {
	background: #fff;
} 
.cont {
	/*padding-top: 2.8rem;*/
	padding-bottom: 2rem;
}
.spc-div {
	padding: 3.5rem 5% 0;
}
.spc-img {
	width: 5rem;
	height: 5rem;
	margin: 4rem auto 1rem;
}
.spc-img img{
	width: 100%;
}
.spc-price {
	text-align: center;
	font-size: 2.4rem;
	color: #000;
	margin-bottom: 4rem;
	margin-top: 1rem;
}
.spc-price:before {
	content: "¥ ";
	font-size: 1.2rem;
	color: #000;
}
.spc-merber {
	overflow: hidden;
	/*text-align: center;*/
	font-size: 1.2rem;
	color: #666;
}
.spc-merber span {
	margin-left: 2rem;
	float: left;
}
.spc-merber strong {
	margin-right: 2rem;
	float: right;
}
.sure-btn {
	width: 60%;
	height: 3rem;
	margin: 5rem auto 0;
	line-height: 2.8rem;
	text-align: center;
	color: #09BA07;
	font-size: 1.4rem;
	border: 2px solid #09BA07;
}
.spc-txt {
	text-align: center;
	color: #09BA07;
	font-size: 1.4rem;
}