input::-webkit-input-placeholder, textarea::-webkit-input-placeholder{
    color: #aaa;
    text-align: right;
    text-transform: uppercase;
    font-size: 12px;
 }
input::input-placeholder, textarea::input-placeholder {
	color: #aaa;
	text-align: right;
	text-transform: uppercase;
	font-size:12px;
}
.wrap, .cont {
	background: #323232;
} 
.cont {
	padding-top: 2.8rem;
}
.pd-data {
	overflow: hidden;
	background: #262626;
}
.pdd-item {
	overflow: hidden;
	height: 2.8rem;
	/*padding: .2rem 0;*/
	line-height: 2.8rem;
	border-bottom: 1px solid #323232;
}
.pdd-tit {
	float: left;
	width: 15%;
	height: 100%;
	font-size: 1.1rem;
	color: #fff;
	text-align: center;
}
.pdd-input {
	position: relative;
	float: left;
	width: 85%;
	height: 100%;
}
.pdd-input input {
	font-size: 1rem;
	/*display: block;*/
	float: left;
	width: 100%;
	height: 100%;
	padding: 0 10% 0 5%;
	line-height: 2.8rem;
	outline: none;
	background: #262626;
	border: none;
	color: #53e3a5;
	text-align: right;
}
/*.pdd-bthday .pdd-input input {
	width: 23.3%;
	padding: 0;
	text-align: center;
}*/
.pdd-bthday .pdd-input span {
	float: left;
	font-size: 1rem;
	width: 10%;
	text-align: center;
	/*padding: 0 5px;*/
	color: #fff;
	height: 100%;
	line-height: 2.8rem;
}
/*.pdd-height .pdd-input:after {
	position: absolute;
	width: 10%;
	text-align: center;
	top: 0;
	right: 0;
	font-size: 1rem;
	content: "cm";
	color: #fff;
}
.pdd-weight .pdd-input:after {
	position: absolute;
	width: 10%;
	text-align: center;
	top: 0;
	right: 0;
	font-size: 1rem;
	content: "kg";
	color: #fff;
}*/
.pdd-input i:before {
	content: "\a025";
	position: absolute;
	width: 10%;
	height: 2.8rem;
	line-height: 2.8rem;
	text-align: center;
	top: 0;
	right: 0;
	font-size: 1rem;
	color: #aaa;
}
.save-btn {
	max-width: 650px;
	position: fixed;
	width: 100%;
	bottom: 0;
	left: 0;
	padding: .65rem 0;
	background: #53e3a5;
	color: #fff;
	text-align: center;
	font-size: 1.2rem;
	z-index: 100;
}
.pd-infor {
	width: 80%;
	margin: 3rem auto 0;
	font-size: 14px;
	color: #828382;
	text-align: center;
}
.pdd-bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/*background: #fff;*/
}