.wrap, .cont {
	background: #323232;
} 
.cont {
	padding-top: 2.8rem;
	padding-bottom: 2rem;
}
.spc-div {
	padding: 2.5rem 5%;
}
.spc-tit {
	margin-bottom: 2rem;
	color: #fff;
	font-size: 1.3rem;
}
.spc-radius {
	color: #fff;
	/*padding: 0 .5rem;*/
	font-size: 1.2rem;
}
.spc-item {
	display: block;
	height: 45vw;
	/*margin-bottom: .8rem;*/
	font-size: 1.2rem;
	text-align: center;
	/*line-height: 45vw;*/
	font-weight: bold;
	letter-spacing: 1px;
}
.spc-item.spc-item-card {
	background: url(../img/set_card_1.png) no-repeat center;
	background-size: 100% 100%;
}
.spc-item.spc-item-obct {
	background: url(../img/set_card_2.png) no-repeat center;
	background-size: 100% 100%;
}
.spc-item strong {
	float: left;
	width: 100%;
	height: 4rem;
}
.spc-item-card strong {
	background: url(../img/invitation_img.png) no-repeat center;
	background-size: auto 80%;
}
.spc-item-obct strong {
	background: url(../img/aqmsz_2.png) no-repeat center;
	background-size: auto 100%;
}
.spc-item div {
	overflow: hidden;
	height: 100%;
	padding: 2rem 0;
}
.spc-item span {
	/*margin-left: 8px;*/
	float: left;
	width: 100%;
	font-size: 1.2rem;
	margin-bottom: .2rem;
	color: #fff;
}
.spc-item i:before {
	/*content: "\a030";*/
	color: #fff;
}
.spc-item .spc-word {
	font-size: 12px;
}
.spc-item.spc-item-sel i:before {
	/*content: "\a029";*/
	color: #53e3a5;
}
.next-step-btn {
	display: block;
    width: 45%;
    padding: .8rem 0;
    margin: 5rem auto 0;
    font-size: 1.1rem;
    color: #53e3a5;
    background: #000;
    text-align: center;
    border-radius: 5px;
    letter-spacing: 2px;
}
.head-div em {
	position: absolute;
    top: .3rem;
    right: 0;
    height: 2.2rem;
    line-height: 2.2rem;
    padding: 0 .5rem;
    font-size: 1.1rem;
    color: #53e3a5;
}

.head-div i:after {
	content: '个人中心';
	font-size: 1.1rem;
	position: absolute;
    top: .3rem;
    left: 1.4rem;
    /*padding: 0 5px;*/
    /*font-size: 1.2rem;*/
    color: #53e3a5;
}
.head-div i:before {
	/*content: '个人中心';*/
	font-size: 1.1rem;
	padding: 0 0 0 .2rem;
}