@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "参与记录";
}

<div class="am-cf am-padding">
    <div class="am-fl am-cf"><a href="/"><strong class="am-text-primary am-text-lg">首页</strong></a> /<small>参与记录</small></div>
</div>
<div id="searchDomain">

    <div class="am-g">   
        <div class="am-u-lg-12 am-u-end">
            <div class="am-input-group am-input-group-sm">
                <input name="targetId" value="@(Request["targetId"])" type="hidden" />
                <span class="am-input-group-label">参与用户名称：</span>
                <input type="text" class="am-form-field" placeholder="按参与用户名称搜索" style="width:100px;" name="joinUserName" value="">
                <input name="code" value="@(Request["code"])" type="hidden" />
                <span class="am-input-group-btn am-margin-left-sm">
                    <button class="am-btn am-btn-default" id="btnSearch" type="button">搜索</button>
                    <button class="am-btn am-btn-default" onclick="ClearFilter()" type="button">清除</button>
                </span>
            </div>
        </div>


    </div>
    <div class="am-g am-margin-top-sm">
        <div class="am-u-lg-6">
            <div class="am-btn-toolbar">
                <div class="am-btn-group am-btn-group-xs">
                    <button onclick="batchDelete()" type="button" class="am-btn am-btn-default"><span class="am-icon-trash-o"></span> 删除</button>
                </div>
            </div>
        </div>

    </div>

</div>
<div class="grid_container">
    <table id="dataTable" class="am-table am-table-compact am-table-hover table-main">
        <thead>
            <tr>
                <th dataname="ID" type="checkbox"></th>
                <th dataname="Mobile">手机</th>   
                <th dataname="JoinUserName">参与用户</th>   
                <th dataname="PrizeInfo">信息</th>
                <th dataname="SN">兑奖码</th>
                <th dataname="UsedTime" datatype="jsondate">领取时间</th>
                <th dataname="CreatedTime" datatype="jsondate">参与日期</th>
                <th type="eventlist"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
@section scripts
{
    <script type="text/javascript"> 

        $('[name=createdTimeStart]').datepicker({ format: 'yyyy-mm-dd' });
        $('[name=createdTimeEnd]').datepicker({ format: 'yyyy-mm-dd' });
        function ClearFilter() {
            $("#searchDomain input").val("");
        }

        function ShowIsUser(item)
        {
            return item.IsUsedOnLine ? "已领取" : "未领取";
        }

        //批量删除
        function batchDelete() {
            $.Nuoya.confirm("确认删除？", function () {
                grid.del({
                    ajaxUrl: "/Admin/UserActivity/Delete",
                    callback: function (json) {
                        grid.reload();
                    }
                });
            });
        }
        var grid = $.Nuoya.grid({
            tableId: "dataTable",
            //表格id
            search: {
                domainId: "searchDomain",
                subId: "btnSearch"
            },
            ajaxUrl: "/Admin/UserActivity/GetPageList",
            //数据请求地址
            
            events: [
                {
                    className: "am-text-danger",
                    icon: "icon-trash-o",
                    name: "删除",
                    click: function (item) {
                        $.Nuoya.confirm("确认删除？", function () {
                            $.Nuoya.deleteAction("/Admin/UserActivity/Delete", {
                                ids: item.ID
                            },
                            function () {
                                grid.reload();
                            });
                        });
                    }
                }
            ]
        });

    </script>
}
