<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="WeixinAppId" value="wx6fa13b06081881d0" />
    <add key="WeixinAppSecret" value="d7f895546c235af05b01ed1804229f2e" />
    <add key="WeixinMID" value="1256901901" />
    <add key="WeixinPaySecret" value="Myfitness159myfitness753myfitnes" />
  </appSettings>
</configuration>
