<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="WeixinAppId" value="wxa7598339ca7ec3c6" />
    <add key="WeixinAppSecret" value="ee83df35b6a3245f22c9b2b541c936fa" />
    <add key="WeixinMID" value="1256901901" />
    <add key="WeixinPaySecret" value="Myfitness159myfitness753myfitnes" />
    <add key="ShowSourceId" value="9fcab4b2cf964d41a92d5198bc4c17d5" />
    <add key="InviteStartTimeCount" value="0" />
    <add key="InviteEndTimeCount" value="3" />
  </appSettings>
</configuration>
