<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="WeixinAppId" value="wx6fa13b06081881d0" />
    <add key="WeixinAppSecret" value="d7f895546c235af05b01ed1804229f2e" />
    <add key="WeixinMID" value="1493913072" />
    <add key="WeixinPaySecret" value="bdb2fcf0af3d40c209965abcae8120c1" />
  </appSettings>
</configuration>
