@using WST.Core.Extensions
@model User
@{
    ViewBag.Title = "个人资料";
    Layout = null;
}

@section linkcss
{
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>个人资料</title>
    <meta name="viewport" content="width=device-width,user-scalable=no">
    <meta name="format-detection" content="telephone=no" />
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache, must-revalidate">
    <meta http-equiv="expires" content="0">
    <link rel="stylesheet" href="~/assets/css/reset.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/style.css">
    <script src="~/assets/js/jquery-2.1.4.min.js"></script>
    <script src="~/Areas/Admin/Scripts/utility.js"></script>
    <style>
        html {
            background: #f9f9ff;
        }

        .nav-wrapper {
            overflow: hidden;
            position: fixed;
            top: 0;
            left: 0;
            padding: 0.4em 1em;
            width: 100%;
            height: 2.8em;
            line-height: 2em;
            border-bottom: 1px dashed #eee;
            background: #fff;
            z-index: 10;
        }

            .nav-wrapper a {
                position: absolute;
                left: 0;
                top: 0;
                height: 2.8em;
                line-height: 2.8em;
                padding: 0 1em;
                color: #608DA4;
            }

            .nav-wrapper h3 {
                position: absolute;
                width: 100%;
                text-align: center;
                color: #608DA4;
                font-size: 1.1em;
            }

        .data {
            padding-top: 5em;
        }

        .l .input {
            border: 1px solid #ccc;
            width: 100%;
            text-align: left;
            padding: 0 1em;
        }

        .data p {
            line-height: 3em;
            padding: 0 1em;
        }

        .l .button {
            padding: 0;
            float: none;
            width: 60%;
            text-align: center;
            border-radius: 6px;
            margin-top: 3em;
        }
    </style>
</head>
<body>
    <div class="l">
        <div class="nav-wrapper">
            <h3>完善资料</h3>
            <a href="javascript:history.go(-1);" class="backhome fl"><返回</a>
        </div>

        <div class="data">
            <p>手机:</p>
            <p><input id="Mobile" class="input" type="text" name="Mobile" placeholder="请填写手机号"></p>
            <p>
                验证码:
                <input id="securityCode" class="input" type="text" name="securityCode" placeholder="验证码" maxlength="6"><span class="getCode fU	">点击获取</span>
            </p>
            <p>密码:</p>
            <p><input id="Password" class="input" type="password" name="Password" placeholder="请填写6位以上的密码" maxlength="12"></p>
            <p>名称:</p>
            <p><input id="Mobile" class="input" type="text" name="Mobile" placeholder="请填写手机号"></p>
            <p>门店名:</p>
            <p><input id="StoreName" class="input" type="text" name="StoreName" placeholder="请填写门店名"></p>
            <p>顾问:</p>
            <p><input id="AdviserName" class="input" type="text" name="AdviserName" placeholder="请填写顾问"></p>
            <div class="button submit-btn">提交</div>
        </div>

    </div>

    <script type="text/javascript">
		$(function() {

			// 点击加载更多
			$(document).on('click', '.submit-btn', function() {
				for(var i = 0; i < $('.input').length-1; i++) {
					if($.trim($('.input').eq(i).val()).length < 2) {
						$('.input').eq(i).focus();
						return false;
					}
				}
				var mobile = $("[name='Mobile']").val();
				if (mobile == "") {
				    msg = "请输入手机号码"
				}
				else if (mobile.length != 11) {
				    msg = "手机号码长度错误"
				}
				var password = $("[name='Password']").val();
				if (password == "") {
				    msg = "请输入密码"
				}
				else if (password.length <6) {
				    msg = "密码长度错误"
				}

				$.ajax({
				    url: '/user/TryFree',
                    method:'post',
                    data: {
                        Mobile: mobile,
                        Password: password,
				        StoreName: $("[name='StoreName']").val(),
				        AdviserName: $("[name='AdviserName']").val(),
				        Code: $("[name='securityCode']").val(),
				    },
				    success: function (data) {
				        if (data.Code == 0) {
				            window.location.href = "/user/buytime";
				        }
				        else
				            alert(data.ErrorDesc);
				    }
				})

			})

        // 获取验证码
        .on('click', '.getCode', function () {
            if (!getJudge) {
                return false;
            }
            getJudge = false;
            $('.getCode').text('已发送');
            setTimeout(function () {
                getJudge = true;
                $('.getCode').text('重新获取');
            }, 30000);

            $.ajax({
                url: '/config/sendMsg',
                method: 'post',
                data: {
                    mobile: $("[name='Mobile']").val()
                },
                success: function (data) {
                    if (data.Code == 0) {
                        window.location.href = "/user/index";
                    } else {
                        alert(data.ErrorDesc);
                    }
                }
            });

        })
		})

    </script>

</body>
</html>
@section scripts
{


}