/*model css*/
html {
	/* background: #FFFAEE; */
	background:#000 url(/Template/kanjia/kanjia4/img/index_bg.gif) repeat center;
	/* background-size: 20em; */
	/* background-color: #200b58 */
}

.l .title-wrapper {
	margin-top: 0;
	padding: 1em 0 4em;
	background: #634218 url(/Template/kanjia/kanjia4/img/title_bg.gif) repeat;
	background-repeat: no-repeat;
	background-size: 100%;
}
.l #title, .l #title * {
	color: #ffffff!important;
	
}
.l .activity-wrapper {
	width: 85%;
	margin: -4em auto 0;
	padding: 2em 0 2.3em;
	line-height: 1.8em;
	/*background-size: 100%;
	background: #ff0;*/
	
	background: url(/Template/kanjia/kanjia4/img/time_bg.png) center no-repeat;
	background-size: 100%;
}
.activity-wrapper * {
	color: rgb(0, 0, 0)!important;
	/*font-weight: bold;*/
}

.activity-wrapper h3 {
	padding-top: 1em;
	margin-top: -1.3em;
	font-size: 1.3em;
}
.l .groupBooking-wrapper {
	width: auto;
	padding: 1em 1em;
	margin:0em 2em;
	background: #ffcc00;
	border-radius:1em;
	
}
.groupBooking-wrapper .sub-group {
	background: #FCE8C9!important;
}
.groupBooking-wrapper .groupBooking-list:nth-child(1) * {
	color: #000!important;
	font-weight: bold;
}
.l .groupBooking-wrapper .groupBooking-list .list-item-right * {
	color: #eeff00!important;
}
.l .groupBooking-wrapper .groupBooking-list * {
	color: #a50110!important;
}


.l .model-list-body {
	width:80%;
	background: #ffcc00 url(/Template/kanjia/kanjia4/img/border_bg.png) right bottom no-repeat;
	background-size: 6em;
	padding: 2% 4% 0%;
	margin-top:0.2em;
}
.l .model-list-title {
	width: 100%;
	height: auto;
	line-height: 2.3em; 
	text-indent: 0;
	background-size: 100% auto;
	
	margin: 0 auto;
}
.l .model-list-title span {
	width:80%;
	padding-top: 0.8em;
	text-indent:0;
	margin-bottom: 0;
	text-align: right;
	color: rgb(255, 255, 255);
	background: url(/Template/kanjia/kanjia4/img/title_top.png) left top no-repeat;
	background-size:4em;
	font-weight:lighter;
}

.l .add-child span {
	background: #5a3110;
	color: #eeff00;
	border-color: #5a3110;
}
.l .foot-wrapper {
	border-color: #D82930;
}
.l .foot-wrapper .button {
	background: #5a3110;
	color: #fff;
	border-color: #5a3110;
}
.l .foot-wrapper .view-btn {
	background: #fff;
	color: #5a3110;
}
.music-component-wrapper ul .play {
	color: #5a3110;
}
.l .textarea, .l .input, .v-p, .v-span, .phone-number {
	color: #5a3110;
}
.music-component-wrapper .btn span, .l .button {
	background: #633918;
	color: #ffffff;
}
.music-component-wrapper .btn .cancel {
	background: #fff;
	color: #511212;
}
.l .apply-user-title{margin: 0em 0;}
.l .apply-user-list .price {
	color: #633918;
}
.l .apply-user-list .name {
	color: ##633918;
}
.l .apply-user-list .phone{color: #000}
.l .groupBooking-list-item .list-item-right{background-color: #ff0000;}
.l .groupBooking-wrapper .groupBooking-list .list-item-left * {color: #D82930!important;}
.l .foot-wrapper{background-color: #fff;}

