/*model css*/
html {
	background: #FFFAEE;
}
.l .title-wrapper {
	margin-top: 0;
	background: #9E0008;
	padding: 1em 0 4em;
}
#title, #title * {
	color: #F9E900!important;
}
.l .activity-wrapper {
	width: 80%;
	margin: -3em auto 0;
	padding: 1em 0 1.3em;
	line-height: 1.8em;
	background-size: 100%;
	background: #ff0;
}
.activity-wrapper * {
	color: #D82930!important;
	font-weight: bold;
}

.activity-wrapper h3 {
	font-size: 1.3em;
}

.groupBooking-wrapper .sub-group {
	background: #FCE8C9!important;
}
.groupBooking-wrapper .groupBooking-list:nth-child(1) * {
	color: #000!important;
	font-weight: bold;
}
.l .groupBooking-wrapper .groupBooking-list * {
	color: #D82930!important;
}

.l .model-list-body {
	border: 0.2rem solid transparent;
	background: #D82930;
}
.l .model-list-title {
	height: 4.5em;
	line-height: 2.3em;
	text-indent: 3.5em;
	background: url(/Template/kanjia/yuandan/img/title_bottom.png) center bottom no-repeat;
	background-size: 100% auto;
}
.l .model-list-title span {
	width: 100%;
	padding: 1em 1em 0;
	margin-bottom: 0;
	text-align: right;
	color: #D82930;
	background: url(/Template/kanjia/yuandan/img/title_top.png) 1em center no-repeat;
	background-size: 9em;
}

.l .add-child span {
	background: #D82930;
	color: #fff;
	border-color: #D82930;
}
.l .foot-wrapper {
	border-color: #D82930;
}
.l .foot-wrapper .button {
	background: #D82930;
	color: #fff;
	border-color: #D82930;
}
.l .foot-wrapper .view-btn {
	background: #fff;
	color: #D82930;
}
.music-component-wrapper ul .play {
	color: #D82930;
}
.title-wrapper *, .l .textarea, .l .input, .v-p, .v-span, .phone-number {
	color: #fff;
}
.music-component-wrapper .btn span {
	background: #D82930;
	color: #fff;
}
.music-component-wrapper .btn .cancel {
	background: #fff;
	color: #D82930;
}