@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
</head>
<body>
    <a href="/login/defaultUser" style="font-size:100px;">测试用户登录</a>
          <br />
          <br />
        <a href="/login/defaultAdmin"  style="font-size:100px;">测试管理员登录</a>
</body>
</html>