/*model css*/
html {
	/* background: #FFFAEE; */
	background: url(/Template/pintuan/pintuan6/img/index_bg.gif) repeat;
	background-size: 36em;
	/* background-color: #200b58 */
}

.l .title-wrapper {
	margin-top: 0;
	/* background: #94256a; */
	padding: 3em 0 4em;
	background: url(/Template/pintuan/pintuan6/img/title_bg.png) repeat;
	background-repeat: no-repeat;
	background-size: 100%;
}
.l #title, .l #title * {
	color: #ffffff!important;
	
}
.l .activity-wrapper {
	width: 80%;
	margin: -2em auto 0;
	padding: 2em 0 2.3em;
	line-height: 1.8em;
	/*background-size: 100%;
	background: #ff0;*/
	
	background: url(/Template/pintuan/pintuan6/img/time_bg.png) center no-repeat;
	background-size: 100%;
}
.activity-wrapper * {
	color: rgb(255, 0, 0)!important;
	/*font-weight: bold;*/
}

.activity-wrapper h3 {
	padding-top: 1em;
	margin-top: -1.3em;
	font-size: 1.3em;
	color: #eeff00!important;
}
.l .groupBooking-wrapper {
	/* box-shadow: 0.3em 0.3em 1em 0px rgba(0,0,0,0.5); */
	width: 90%;
	padding: 0.5em 0.5em;
	margin:0 auto;
	background: #ffffff;
	/* background-color:rgba(255, 251, 0, 0.89); */
	/* border-radius:1em; */
	/* border: 1.5rem solid #f00;
	-webkit-border-image:url(/Template/pintuan/pintuan6/img/border.gif) 30 30 round;
	-o-border-image:url(/Template/pintuan/pintuan6/img/border.gif) 30 30 round;
	border-image:url(/Template/pintuan/pintuan6/img/border.gif) 30 30 round;*/
} 
.groupBooking-wrapper .sub-group {
	background: #FCE8C9!important;
}
.groupBooking-wrapper .groupBooking-list:nth-child(1) * {
	color: #000!important;
	font-weight: bold;
}
.l .groupBooking-wrapper .groupBooking-list .list-item-right * {
	color: #eeff00!important;
}
.l .groupBooking-wrapper .groupBooking-list * {
	color: #f00!important;
}


.l .model-list-body {
	margin-top: -1.5em;
	/* border: 0.2rem solid transparent; */
	width: 80%;
	background: #f7dda2 ;
	background-size: 6em;
	padding: 2% 4% 0%;
	/* box-shadow: 0.3em 0.3em 1em 0px rgba(0,0,0,0.5); */
	/* border: 1.3rem solid #f00;
	-webkit-border-image:url(/Template/pintuan/pintuan6/img/border.gif) 30 30 round;
	-o-border-image:url(/Template/pintuan/pintuan6/img/border.gif) 30 30 round;
	border-image:url(/Template/pintuan/pintuan6/img/border.gif) 30 30 round; */
}
.l .model-list-title {
	position: relative; 
    z-index: 0;
	width: 100%;
	padding-bottom: 3em;
	height: auto;
	line-height: 2.3em; 
	text-indent: 0;
	background: none;
	background: url(/Template/pintuan/pintuan6/img/title_bottom.png) center bottom no-repeat;
	background-size: 100% auto;
	background-size: 90%;
	margin: 0 auto;
}
.l .model-list-title span {
	width: 80%;
	padding-top: 0.8em;
	text-align: right;
	text-indent:0;
	margin-bottom: 0;
	/* text-align: left; */
	color: rgb(255, 255, 255);
	background: url(/Template/pintuan/pintuan6/img/title_top.png) left top no-repeat;
	background-size: 10em;
}

.l .add-child span {
	background: #ff0000;
	color: #eeff00;
	border-color: #D82930;
}
.l .foot-wrapper {
	border-color: #D82930;
}
.l .foot-wrapper .button {
	background: #ff0000;
	color: #fff;
	border-color: #ff0000;
}
.l .foot-wrapper .view-btn {
	background: #fff;
	color: #ff0000;
}
.music-component-wrapper ul .play {
	color: #ff0000;
}
.l .textarea, .l .input, .v-p, .v-span, .phone-number {

	color: #ff0000;
}
.music-component-wrapper .btn span, .l .button {
	background: #ffa506;
	color: rgb(255, 0, 0);
}
.music-component-wrapper .btn .cancel {
	background: #fff;
	color: #511212;
}

.l .groupBooking-list-item .list-item-right{background-color: #ff0000;}
.l .groupBooking-wrapper .groupBooking-list .list-item-left * {color: #D82930!important;}
.l .foot-wrapper{background-color: #fff ;}

.l .apply-user-title{margin-top: 0em;}
.l .apply-user-list .price {color: rgb(255, 0, 0);}
.l .apply-user-list .name {color: rgb(0, 0, 0);}
/*.l .apply-user-list .phone{color:#aaa}*/

