/*model css*/
html {
	/* background: #FFFAEE; */
	background: url(/Template/miaosha/miaosha7/img/index_bg.gif) repeat;
	background-size: 26em;
	/* background-color: #200b58 */
}

.l .title-wrapper {
	margin-top: 0;
	/* background: #94256a; */
	padding: 1em 0 4em;
	/* background: url(/Template/miaosha/miaosha7/img/title_bg.gif) repeat; */
	background-repeat: no-repeat;
	background-size: 100%;
}
.l #title, .l #title * {
	color: #ffffff!important;
	
}
.l .activity-wrapper {
	width: 80%;
	margin: -2em auto 0;
	padding: 2em 0 2.3em;
	line-height: 1.8em;
	/*background-size: 100%;
	background: #ff0;*/
	
	background: url(/Template/miaosha/miaosha7/img/time_bg.png) center no-repeat;
	background-size: 100%;
}
.activity-wrapper * {
	color: #5c451a!important;
	/*font-weight: bold;*/
}

.activity-wrapper h3 {
	padding-top: 1em;
	margin-top: -1.3em;
	font-size: 1.3em;
}
.l .groupBooking-wrapper {
	/* box-shadow: 0.3em 0.3em 1em 0px rgba(0,0,0,0.5); */
	width: auto;
	padding: 1em 0;
	margin:0em 0.5em;
	background: #f4d990;
	/* background-color:rgba(255, 251, 0, 0.89); */
	/* border-radius:1em; */
	border: 1.5rem solid #f00;
	-webkit-border-image:url(/Template/miaosha/miaosha7/img/border.png) 30 30 round;
	-o-border-image:url(/Template/miaosha/miaosha7/img/border.png) 30 30 round;
	border-image:url(/Template/miaosha/miaosha7/img/border.png) 30 30 round;
}
.groupBooking-wrapper .sub-group {
	background: #FCE8C9!important;
}
.groupBooking-wrapper .groupBooking-list:nth-child(1) * {
	color: #000!important;
	font-weight: bold;
}
.l .groupBooking-wrapper .groupBooking-list .list-item-right * {
	color: #eeff00!important;
}
.l .groupBooking-wrapper .groupBooking-list * {
	color: #5c451a!important;
}


.l .model-list-body {
	margin-top:0em;
	background: #f4d990 url(/Template/miaosha/miaosha7/img/border_bg.png) right bottom no-repeat;
	background-size: 6em;
	padding: 2% 4% 0%;
	border: 1.3rem solid #f00;
	-webkit-border-image:url(/Template/miaosha/miaosha7/img/border.png) 30 30 round;
	-o-border-image:url(/Template/miaosha/miaosha7/img/border.png) 30 30 round;
	border-image:url(/Template/miaosha/miaosha7/img/border.png) 30 30 round;
	border-radius:0em;
}
.l .model-list-title {
	width: 100%;
	height: auto;
	line-height: 2.3em; 
	text-indent: 0;
	background: none;
	/* background: url(/Template/miaosha/miaosha7/img/title_bottom.png) center bottom no-repeat; */
	background-size: 100% auto;
	
	margin: 0 auto;
}
.l .model-list-title span {
	width: 80%;
	font-size: 0.9em;
	line-height: 4em;
	font-weight: lighter;
	text-align: right;
	padding-left:5em; 
	text-indent:0;
	margin-bottom: -1em;
	/* text-align: left; */
	color: rgb(255, 255, 255);
	background: url(/Template/miaosha/miaosha7/img/title_top.png) left top no-repeat;
	background-size: 6.3em;
}

.l .add-child span {
	background: #5c451a;
	color: #ffffff;
	border-color: #5c451a;
}
.l .foot-wrapper {
	border-color: #5c451a;
}
.l .foot-wrapper .button {
	background: #5c451a;
	color: #fff;
	border-color: #5c451a;
}
.l .foot-wrapper .view-btn {
	background: #fff;
	color: #5c451a;
}
.music-component-wrapper ul .play {
	color: #5c451a;
}
.l .textarea, .l .input, .v-p, .v-span, .phone-number {
	color: #5c451a;
}
.music-component-wrapper .btn span, .l .button {
	background: #5c451a;
	color: rgb(255, 255, 255);
}
.music-component-wrapper .btn .cancel {
	background: #fff;
	color: #511212;
}

.l .groupBooking-list-item .list-item-right{background-color: #ff0000;}
.l .groupBooking-wrapper .groupBooking-list .list-item-left * {color: #D82930!important;}
.l .foot-wrapper{background-color: #fff;}

.l .apply-user-title{margin-top: 0em;}
.l .apply-user-list .price {color: rgb(255, 0, 0);}
.l .apply-user-list .name {color: rgb(0, 0, 0);}
.l .apply-user-list .phone{color:#5c451a}
