@using WST.Core.Extensions;
@model Store
 @{
     ViewBag.Title = "门店详情";
}

@section linkcss
{
    <link rel="stylesheet" href="~/css/StoreDetail.css">
}

<div class="wrap" id="Index">
    <div class="store-detail-div">
        <div class="sdv-banner">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    @if (Model != null && Model.Pictures.IsNotNullOrEmpty())
                    {
                        foreach (var item in Model.Pictures.Split(',').ToList())
                        {
                            <div class="swiper-slide">
                                <img src="@(item)" alt="">
                            </div>
                        }
                    }
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
        <div class="sdv-cont">
            <div class="sdv-list">

                <div class="sdv-item">
                    <div class="sdv-tit">
                        <div class="sdvt-img">
                            <img src="~/img/store_detail_1.png" alt="">
                        </div>
                        <div class="sdvt-txt">场馆介绍 <span>Introduce</span></div>
                    </div>
                    <div class="sdv-txt">
                        @Html.Raw(Model?.Introduce)
                    </div>
                </div>

                <div class="sdv-item">
                    <div class="sdv-tit">
                        <div class="sdvt-img">
                            <img src="~/img/store_detail_2.png" alt="">
                        </div>
                        <div class="sdvt-txt">场馆地址 <span>Address</span></div>
                    </div>
                    <div class="sdv-txt">
                        @(Model?.Address)
                    </div>
                    <a href="/Store/Location?id=@(Request["id"])" class="sdv-btn">查看地图</a>
                </div>

                <div class="sdv-item">
                    <div class="sdv-tit">
                        <div class="sdvt-img">
                            <img src="~/img/store_detail_3.png" alt="">
                        </div>
                        <div class="sdvt-txt">会员价格 <span>Price</span></div>
                    </div>
                    <div class="sdv-txt">
                        会员价格详情见会员价格表
                    </div>
                    <a href="#" class="sdv-btn">查看价格</a>
                </div>

                <div class="sdv-item">
                    <div class="sdv-tit">
                        <div class="sdvt-img">
                            <img src="~/img/store_detail_4.png" alt="">
                        </div>
                        <div class="sdvt-txt">注意事项 <span>Carefulness</span></div>
                    </div>
                    <div class="sdv-txt">
                        @Html.Raw(Model?.Notice)
                    </div>
                </div>

                <div class="sdv-item">
                    <div class="sdv-tit">
                        <div class="sdvt-img">
                            <img src="~/img/store_detail_5.png" alt="">
                        </div>
                        <div class="sdvt-txt">服务事项 <span>Process</span></div>
                    </div>
                    <div class="sdv-process">
                        <img src="~/img/store_detail_process.png" alt="">
                    </div>
                </div>


            </div>
        </div>

    </div>
    <div class="sub-btn">预约体验</div>
</div>


@section scripts
{<script>
    var Swiper1 = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination'
    });
</script>
}