@model Store
@{
    ViewBag.Title = "场馆位置";
    var signModel = ViewBag.SignModel as UserStoreSign;
}

@section linkcss
{
    <link rel="stylesheet" type="text/css" href="http://webapi.amap.com/theme/v1.3/style1503546983737.css">
    <style type="text/css">
        .amap-call, .amap-lib-driving .planTitle .clearfix a {
            text-decoration: underline;
        }

        .amap-lib-driving {
            margin: 0;
            padding: 0;
            color: #565656;
            font-family: "Microsoft Yahei","Helvetica Neue",Helvetica,Arial,sans-serif;
            font-size: 12px;
            line-height: 1.5;
            word-wrap: break-word;
            background-color: #fff;
            border: 1px solid silver;
        }

            .amap-lib-driving ol, .amap-lib-driving ul {
                list-style: none;
                margin: 0;
                padding: 0;
            }

        .amap-call {
            font-size: 12px;
            color: #fafafa;
            cursor: pointer;
            background-color: #bbb;
            text-align: right;
            padding: 3px 8px 1px 3px;
        }

        .amap-lib-driving .blue {
            color: #3d93fd;
        }

        .amap-lib-driving p {
            margin: 0;
        }

        .amap-lib-driving b, .amap-lib-driving strong {
            font-weight: 700;
        }

        .amap-lib-driving dt {
            cursor: pointer;
        }

        .amap-lib-driving .planTitle {
            position: relative;
            padding: 2px 8px;
            border-top: 1px solid #e6e6e6;
            border-bottom: 1px solid #e6e6e6;
            background: #fafafa;
            font-size: 14px;
            cursor: pointer;
        }

            .amap-lib-driving .planTitle:hover {
                background: #fff;
            }

                .amap-lib-driving .planTitle.current .sidebar, .amap-lib-driving .planTitle:hover .sidebar {
                    display: block;
                }

            .amap-lib-driving .planTitle span.red {
                color: #ff4546;
            }

            .amap-lib-driving .planTitle h3 {
                margin-top: 0;
                font-size: 13px;
                margin-bottom: 1px;
            }

            .amap-lib-driving .planTitle p {
                font-size: 12px;
                margin-bottom: 1px;
                color: #666;
            }

            .amap-lib-driving .planTitle ul {
                display: none;
                margin-top: 3px;
            }

                .amap-lib-driving .planTitle ul li {
                    float: left;
                }

                    .amap-lib-driving .planTitle ul li:last-child {
                        border-right: none;
                    }

                    .amap-lib-driving .planTitle ul li a {
                        background-repeat: no-repeat;
                        color: #00f;
                        font-size: 12px;
                        height: 16px;
                        line-height: 16px;
                        padding-right: 8px;
                        text-indent: 20px;
                    }

                        .amap-lib-driving .planTitle ul li a.icon-share {
                            padding-left: 0;
                            background-position: 0 center;
                        }

        .amap-lib-driving .icon-arrow-up {
            background-image: url(http://webapi.amap.com/theme/v1.3/images/newpc/icon/arrow-up.png);
        }

        .amap-lib-driving .planTitle .sidebar {
            display: none;
            position: absolute;
            width: 30px;
            height: 30px;
            top: 50%;
            right: 0;
            pointer-events: none;
            margin-top: -15px;
        }

            .amap-lib-driving .planTitle .sidebar div {
                display: block;
                width: 100%;
                height: 100%;
                background-repeat: no-repeat;
                background-position: center center;
                transition: all .3s ease-in 0s;
                -webkit-transition: all .3s ease-in 0s;
                -moz-transition: all .3s ease-in 0s;
                background-image: url(http://webapi.amap.com/theme/v1.3/images/newpc/icon/arrow-down.png);
            }

                .amap-lib-driving .planTitle .sidebar div.expand {
                    background-image: url(http://webapi.amap.com/theme/v1.3/images/newpc/icon/arrow-up.png);
                }

        .amap-lib-driving .plan {
            display: none;
            font-size: 12px;
            margin: 0;
        }

            .amap-lib-driving .plan .grey {
                color: #999;
            }

            .amap-lib-driving .plan .blue {
                color: #3baeca;
            }

            .amap-lib-driving .plan dt {
                position: relative;
                margin-left: 35px;
                line-height: 20px;
                border-bottom: 1px solid #f0f0f0;
                padding-bottom: 3px;
                padding-top: 3px;
            }

                .amap-lib-driving .plan dt:hover {
                    background: #fafafa;
                }

                .amap-lib-driving .plan dt span.grey {
                    font-weight: 400;
                }

                .amap-lib-driving .plan dt span.line {
                    padding-left: 5px;
                    padding-right: 5px;
                    display: inline-block;
                    line-height: 22px;
                    color: #fff;
                    background: #3baeca;
                    text-indent: 0;
                }

                .amap-lib-driving .plan dt:first-child {
                    border-top: 1px solid #f0f0f0;
                }

                .amap-lib-driving .plan dt .beforedt {
                    left: -30px;
                    border-radius: 50%;
                    background-color: #fff;
                    background-position: center;
                    background-repeat: no-repeat;
                    text-indent: 0;
                    text-align: center;
                    font-size: 12px;
                    z-index: 10;
                }

        .amap-lib-driving .beforedt {
            top: 15px;
            left: -22px;
            height: 100%;
            width: 4px;
            z-index: -1;
            position: absolute;
            background-color: #e5e7e8;
        }

        .amap-lib-driving .plan dt.end, .amap-lib-driving .plan dt.start, .amap-lib-driving .plan dt.via {
            font-size: 14px;
        }

            .amap-lib-driving .plan dt.end .beforedt, .amap-lib-driving .plan dt.start .beforedt, .amap-lib-driving .plan dt.via .beforedt {
                margin-top: -10px;
                width: 20px;
                height: 20px;
                line-height: 20px;
                color: #FFF;
                background-image: url(http://webapi.amap.com/theme/v1.3/images/newpc/diricon.png);
            }

            .amap-lib-driving .plan dt.start .beforedt {
                background-position: -47px -104px;
            }

            .amap-lib-driving .plan dt.via .beforedt {
                background-position: -85px -104px;
            }

            .amap-lib-driving .plan dt.end .beforedt {
                background-position: -126px -104px;
            }

            .amap-lib-driving .plan dt.end .afterdt {
                height: 0%;
            }

        .amap-lib-driving .afterdt {
            position: absolute;
            background-color: #e5e7e8;
            left: -22px;
            top: 20px;
            height: 500px;
            width: 4px;
            z-index: 9;
        }

        .amap-lib-driving > .plan dt > .afterdt {
            height: 100%;
        }

        .amap-lib-driving .plan dt.walk .beforedt {
            left: -27px;
            width: 10px;
            height: 10px;
            margin-top: -6px;
            border: 2px solid #ddd;
        }

        .amap-lib-driving .plan dt.bus .beforedt, .amap-lib-driving .plan dt.subway .beforedt {
            left: -31px;
            width: 24px;
            height: 24px;
            margin-top: -12px;
            background-image: url(http://webapi.amap.com/theme/v1.3/images/newpc/diricon.png);
        }

        .amap-lib-driving .plan dt.bus .afterdt {
            background-color: #33a7ff;
        }

        .amap-lib-driving .plan dt.subway .afterdt {
            background-color: #3baeca;
        }

        .amap-lib-driving .plan dt.bus .beforedt {
            background-position: -164px -102px;
        }

        .amap-lib-driving .plan dt.subway .beforedt {
            background-position: -243px -101px;
        }

        .amap-lib-driving .plan-nobus {
            margin: 0;
        }

            .amap-lib-driving .plan-nobus dt span {
                display: block;
                line-height: 18px;
            }

            .amap-lib-driving .plan-nobus dt .beforedt {
                left: -31px;
                width: 21px;
                height: 21px;
                margin-top: -12px;
                border: 1px solid #ddd;
                background-image: url(http://webapi.amap.com/theme/v1.3/images/newpc/diricon.png);
            }

            .amap-lib-driving .plan-nobus dt.end .beforedt, .amap-lib-driving .plan-nobus dt.start .beforedt, .amap-lib-driving .plan-nobus dt.via .beforedt {
                border: none;
            }

            .amap-lib-driving .plan-nobus dt.turn-go .beforedt {
                background-image: url(http://webapi.amap.com/theme/v1.3/images/newpc/icon/turn-go.png);
            }

            .amap-lib-driving .plan-nobus dt.turn-advance .beforedt {
                background-position: -46px -23px;
            }

            .amap-lib-driving .plan-nobus dt.turn-left .beforedt {
                background-position: -87px -23px;
            }

            .amap-lib-driving .plan-nobus dt.turn-right .beforedt {
                background-position: -124px -23px;
            }

            .amap-lib-driving .plan-nobus dt.turn-keepleft .beforedt {
                background-position: -406px -23px;
            }

            .amap-lib-driving .plan-nobus dt.turn-keepright .beforedt {
                background-position: -445px -23px;
            }

            .amap-lib-driving .plan-nobus dt.turn-leftup .beforedt {
                background-position: -165px -23px;
            }

            .amap-lib-driving .plan-nobus dt.turn-leftdown .beforedt {
                background-position: -246px -23px;
            }

            .amap-lib-driving .plan-nobus dt.turn-rightup .beforedt {
                background-position: -206px -23px;
            }

            .amap-lib-driving .plan-nobus dt.turn-rightdown .beforedt {
                background-position: -284px -23px;
            }

            .amap-lib-driving .plan-nobus dt.turn-leftback .beforedt {
                background-position: -327px -23px;
            }

            .amap-lib-driving .plan-nobus dt.turn-rightback .beforedt {
                background-position: -365px -23px;
            }

            .amap-lib-driving .plan-nobus dt.turn-enterRing .beforedt {
                background-position: -561px -23px;
            }

            .amap-lib-driving .plan-nobus dt.turn-leaveRing .beforedt {
                background-position: -602px -23px;
            }

            .amap-lib-driving .plan-nobus dt.turn-slow .beforedt {
                background-position: -524px -23px;
            }

            .amap-lib-driving .plan-nobus dt.turn-crosswalk .beforedt {
                background-position: -126px -184px;
            }

            .amap-lib-driving .plan-nobus dt.turn-overpass .beforedt {
                background-position: -164px -184px;
            }

            .amap-lib-driving .plan-nobus dt.turn-underpass .beforedt {
                background-position: -85px -184px;
            }

            .amap-lib-driving .plan-nobus dt.turn-squarepass .beforedt {
                background-position: -204px -184px;
            }

        .amap-lib-marker-from, .amap-lib-marker-mid, .amap-lib-marker-to {
            position: absolute;
            width: 19px;
            height: 31px;
            color: #e90000;
        }

        .amap-lib-marker-from {
            background: url(http://webapi.amap.com/theme/v1.3/markers/n/start.png) no-repeat;
            cursor: pointer;
        }

        .amap-lib-marker-to {
            background: url(http://webapi.amap.com/theme/v1.3/markers/n/end.png) no-repeat;
            cursor: pointer;
        }

        .amap-lib-marker-mid {
            background: url(http://webapi.amap.com/theme/v1.3/markers/n/mid.png) no-repeat;
        }

        .amap-combo-close {
            position: absolute;
            top: 11px;
            right: 10px;
            background: url(http://webapi.amap.com/theme/v1.3/images/amap-info.png) -1px -151px no-repeat;
            width: 12px;
            height: 12px;
            cursor: pointer;
        }

        .amap-content-body {
            min-width: 200px;
            max-width: 240px;
            font-family: Helvetica,"Hiragino Sans GB","Microsoft Yahei","微软雅黑",Arial,sans-serif;
            box-shadow: 0 0 .5px rgba(0,0,100,.6);
            background: #fff;
            border-radius: 2px;
            text-align: left;
            border: 1px solid silver;
        }

        .amap-combo-sharp {
            margin: 0 auto;
            bottom: 1px;
            position: relative;
            background: url(http://webapi.amap.com/theme/v1.3/images/amap-info.png) -5px -564px no-repeat;
            width: 18px;
            height: 9px;
        }

        .amap-lib-infowindow {
            padding: 0;
            position: relative;
            background-color: #fff;
            margin: 8px;
        }

        .amap-lib-infowindow-title {
            line-height: 22px;
            font-size: 14px;
            border-bottom: 1px #99adce solid;
            padding-right: 15px;
        }

        .amap-lib-infowindow-content {
            padding-top: 5px;
            overflow: hidden;
            font-size: 12px;
            zoom: 1;
        }

        @@media only screen and (-webkit-min-device-pixel-ratio:1.5),only screen and (min-resolution:144dpi) {
            .amap-lib-marker-from, .amap-lib-marker-mid, .amap-lib-marker-to {
                background-size: 100% 100%;
            }

            .amap-lib-marker-from {
                background-image: url(http://webapi.amap.com/theme/v1.3/markers/b/start.png);
            }

            .amap-lib-marker-to {
                background-image: url(http://webapi.amap.com/theme/v1.3/markers/b/end.png);
            }

            .amap-lib-marker-mid {
                background-image: url(http://webapi.amap.com/theme/v1.3/markers/b/mid.png);
            }
        }
    </style>
    <style type="text/css">
        .amap_lib_placeSearch {
            font-family: "Microsoft Yahei","Helvetica Neue",Helvetica,Arial,sans-serif;
            color: #565656;
            font-size: 12px;
            line-height: 22px;
            word-wrap: break-word;
            background-color: #fff;
            border: 1px solid silver;
            -webkit-text-size-adjust: none;
            text-size-adjust: none;
        }

            .amap_lib_placeSearch .pageLink {
                cursor: pointer;
                line-height: 16px;
                display: inline-block;
                text-align: center;
                padding: 0 4px;
            }

            .amap_lib_placeSearch.mobile .pageLink {
                border: 1px solid #ddd;
                background: #eee;
                padding: 2px 3px;
            }

            .amap_lib_placeSearch .pageLink:hover {
                background: #ccc;
            }

            .amap_lib_placeSearch .pageLink.current {
                background: #0091ff;
                color: #fff;
            }

        .amap_lib_placeSearch_list {
            background: #fff;
        }

        .amap_lib_placeSearch .poibox .poibox-icon {
            margin-left: 7px;
            margin-top: 4px;
        }

        .amap_lib_placeSearch_page {
            white-space: nowrap;
            text-align: right;
            background: #e5ecf9;
            margin-top: 5px;
            padding: 2px;
            overflow: hidden;
        }

            .amap_lib_placeSearch_page > div {
                float: left;
                margin-right: 5px;
            }

                .amap_lib_placeSearch_page > div > p {
                    margin: 0;
                    padding: 0;
                    white-space: nowrap;
                }

        .amap_lib_placeSearch_ol {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        .amap_lib_placeSearch_li {
            margin: 2px 0;
            padding: 0 5px 5px 0;
            cursor: pointer;
            overflow: hidden;
            line-height: 17px;
        }

            .amap_lib_placeSearch_li .amap_lib_placeSearch_li_wrap {
                overflow: hidden;
                padding: 0 5px;
            }

        .amap_lib_placeSearch_li_wrap_selected {
            background-color: #f0f0f0;
        }

        .amap_lib_placeSearch_li > div .amap_lib_placeSearch_li_title {
            line-height: 20px;
            font-size: 12px;
        }

            .amap_lib_placeSearch_li > div .amap_lib_placeSearch_li_title span {
                color: #00c;
            }

            .amap_lib_placeSearch_li > div .amap_lib_placeSearch_li_title a {
                margin-left: 5px;
                font-size: 12px;
                color: #3d6dcc;
                font-weight: 400;
                text-decoration: none;
            }

        .amap_lib_placeSearch_li > div .amap_lib_placeSearch_li_text {
            padding: 2px 0;
            line-height: 18px;
            overflow: hidden;
        }

            .amap_lib_placeSearch_li > div .amap_lib_placeSearch_li_text b {
                float: left;
                font-weight: 700;
                overflow: hidden;
                padding-right: 5px;
            }

            .amap_lib_placeSearch_li > div .amap_lib_placeSearch_li_text span {
                color: #666;
                display: block;
                zoom: 1;
                overflow: hidden;
            }

        .amap-lib-infowindow .amap-lib-infowindow-content-wrap {
            word-break: break-all;
            overflow: hidden;
            zoom: 1;
        }

        .amap-lib-infowindow {
            padding: 0;
            position: relative;
            background-color: #fff;
            margin: 8px;
        }

        .amap-lib-infowindow-title {
            line-height: 22px;
            font-size: 14px;
            border-bottom: 1px #99adce solid;
            padding-right: 15px;
        }

        .amap-lib-infowindow-content {
            padding-top: 5px;
            overflow: hidden;
            font-size: 12px;
            zoom: 1;
        }

        .selected .amap_lib_placeSearch_poi {
            background-image: url(http://webapi.amap.com/theme/v1.3/markers/n/mark_r.png);
        }

        .amap_lib_placeSearch_poi {
            background: url(http://webapi.amap.com/theme/v1.3/markers/n/mark_b.png) no-repeat;
            height: 31px;
            width: 19px;
            cursor: pointer;
            left: -1px;
            text-align: center;
            color: #fff;
            font: 12px arial,simsun,sans-serif;
            padding-top: 3px;
        }

        .selected .amap_lib_placeSearch_child_poi {
            background-image: url(http://webapi.amap.com/theme/v1.3/hotNewRed.png);
        }

        .amap_lib_placeSearch_child_poi {
            width: 11px;
            height: 11px;
            border: 1px solid #eee;
            border-radius: 6px;
            background: url(http://webapi.amap.com/theme/v1.3/hotNew.png) center center no-repeat;
            text-indent: -10000em;
            overflow: hidden;
        }

        .poi-children-box {
            padding: 3px 0 3px 25px;
        }

        .poi-child-item.selected {
            border-color: #e17070;
        }

        .poi-child-item {
            display: inline-block;
            line-height: 180%;
            border: 1px solid #ccc;
            background: #f3f3f3;
            margin: 0 3px 3px 0;
            padding: 0 3px;
            width: 27%;
            min-width: 40px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            vertical-align: middle;
            text-align: center;
        }

            .poi-child-item:hover {
                background: #ddd;
            }

        .amap_lib_placeSearch .amap_lib_placeSearch_poi {
            position: absolute;
        }

        .amap_lib_placeSearch ol, .amap_lib_placeSearch ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        .amap_lib_placeSearch .poibox {
            border-bottom: 1px solid #eaeaea;
            cursor: pointer;
            padding: 5px 0 5px 10px;
            position: relative;
            min-height: 35px;
        }

            .amap_lib_placeSearch .poibox:last-child {
                border-bottom: none;
            }

            .amap_lib_placeSearch .poibox .poi-title {
                margin-left: 25px;
                font-size: 13px;
                overflow: hidden;
            }

        .amap_lib_placeSearch .poi-more {
            color: #0091ff;
            font-size: 12px;
            line-height: 22px;
            white-space: nowrap;
            vertical-align: baseline;
        }

        .amap-pl-pc .poi-more, .amap-pl-pc .poi-name {
            vertical-align: middle;
        }

        .amap_lib_placeSearch .poibox .poi-info {
            word-break: break-all;
            margin: 0 0 0 25px;
            overflow: hidden;
        }

            .amap_lib_placeSearch .poibox .poi-info p {
                color: #999;
                font-family: Tahoma;
                line-height: 20px;
            }

        .amap_lib_placeSearch p {
            margin: 0;
        }

        .amap_lib_placeSearch h1, h2, h3, h4, h5 {
            font-weight: 400;
            margin: 0;
        }

        .amap_lib_placeSearch .poibox.active, .amap_lib_placeSearch .poibox.hover, .amap_lib_placeSearch .poibox:hover {
            background: #f6f6f6;
        }

        .amap_lib_placeSearch .poibox .select-btn {
            margin-left: 25px;
            margin-top: 6px;
            border: 0;
            color: #fff;
            cursor: pointer;
            padding: 3px 6px;
            border-radius: 2px;
            background-color: #0091ff;
        }

        .amap-combo-close {
            position: absolute;
            top: 11px;
            right: 10px;
            background: url(http://webapi.amap.com/theme/v1.3/images/amap-info.png) -1px -151px no-repeat;
            width: 12px;
            height: 12px;
            cursor: pointer;
        }

        .amap-content-body {
            min-width: 200px;
            max-width: 240px;
            font-family: Helvetica,"Hiragino Sans GB","Microsoft Yahei","微软雅黑",Arial,sans-serif;
            box-shadow: 0 0 .5px rgba(0,0,100,.6);
            background: #fff;
            border-radius: 2px;
            text-align: left;
            border: 1px solid silver;
        }

        .amap-combo-sharp {
            margin: 0 auto;
            bottom: 1px;
            position: relative;
            background: url(http://webapi.amap.com/theme/v1.3/images/amap-info.png) -5px -564px no-repeat;
            width: 18px;
            height: 9px;
        }

        .amap-pl-pc .poi-img {
            float: right;
            margin: 3px 8px 0;
            width: 90px;
            height: 56px;
            overflow: hidden;
        }

        .amap-pl-pc .poi-more {
            display: inline-block;
            width: 16px;
            height: 16px;
            text-indent: -1000em;
            background: url(http://webapi.amap.com/theme/v1.3/images/newpc/tips.png) center center no-repeat;
            cursor: pointer;
            opacity: .5;
            margin: 1px 0 1px 2px;
            background-size: 85%;
        }

            .amap-pl-pc .poi-more:hover {
                opacity: 1;
                background-size: 100%;
            }

        .amap_lib_placeSearch .clear {
            clear: both;
        }

        .amap-pls-marker-tip {
            position: absolute;
            background: #fff;
            display: none;
            top: 0;
            left: -100px;
            min-width: 100px;
            width: auto;
            white-space: nowrap;
            line-height: 200%;
            padding: 0 0 0 7px;
            font-size: 13px;
            border-radius: 2px;
            -webkit-box-shadow: 0 0 8px 0 rgba(0,0,0,.5);
            -moz-box-shadow: 0 0 8px 0 rgba(0,0,0,.5);
            box-shadow: 0 0 8px 0 rgba(0,0,0,.5);
            transition: all .5s 1s;
            z-index: 150;
        }

            .amap-pls-marker-tip .title {
                display: inline-block;
                vertical-align: middle;
                max-width: 150px;
                overflow: hidden;
                text-overflow: ellipsis;
                margin-right: 35px;
            }

        .amap_lib_placeSearch_child_con .amap-pls-marker-tip {
            top: -7px;
        }

        .amap-marker .hover .amap_lib_placeSearch_child_con .amap-pls-marker-tip {
            left: 23px;
        }

        .amap-marker .hover .amap-pls-marker-tip {
            display: block;
            left: 28px;
        }

        .amap-marker .hover.selected .amap-pls-marker-tip {
            display: none;
        }

        .amap-pls-marker-tip::after, .amap-pls-marker-tip::before {
            content: "";
            width: 0;
            height: 0;
            top: 50%;
            left: 0;
            margin-top: -7px;
            margin-left: -15px;
            position: absolute;
            border: 7px solid transparent;
            border-right: 8px solid rgba(51,51,51,.2);
        }

        .amap-pls-marker-tip::after {
            margin-left: -14px;
            border-right: 8px solid rgba(255,255,255,1);
        }
    </style>
    <style type="text/css">
        .amap-indoor-map .label-canvas {
            position: absolute;
            top: 0;
            left: 0;
        }

        .amap-indoor-map .highlight-image-con * {
            pointer-events: none;
        }

        .amap-indoormap-floorbar-control {
            position: absolute;
            margin: auto 0;
            bottom: 165px;
            right: 12px;
            width: 35px;
            text-align: center;
            line-height: 1.3em;
            overflow: hidden;
            padding: 0 2px;
        }

            .amap-indoormap-floorbar-control .panel-box {
                background-color: rgba(255,255,255,.9);
                border-radius: 3px;
                border: 1px solid #ccc;
            }

            .amap-indoormap-floorbar-control .select-dock {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                box-sizing: border-box;
                height: 30px;
                border: solid #4196ff;
                border-width: 0 2px;
                border-radius: 2px;
                pointer-events: none;
                background: linear-gradient(to bottom,#f6f8f9 0,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%);
            }

        .amap-indoor-map .transition {
            transition: opacity .2s;
        }

        , .amap-indoormap-floorbar-control .transition {
            transition: top .2s,margin-top .2s;
        }

        .amap-indoormap-floorbar-control .select-dock:after, .amap-indoormap-floorbar-control .select-dock:before {
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            left: 0;
            top: 10px;
            border: solid transparent;
            border-width: 4px;
            border-left-color: #4196ff;
        }

        .amap-indoormap-floorbar-control .select-dock:after {
            right: 0;
            left: auto;
            border-left-color: transparent;
            border-right-color: #4196ff;
        }

        .amap-indoormap-floorbar-control.is-mobile {
            width: 37px;
        }

            .amap-indoormap-floorbar-control.is-mobile .floor-btn {
                height: 35px;
                line-height: 35px;
            }

            .amap-indoormap-floorbar-control.is-mobile .select-dock {
                height: 35px;
                top: 36px;
            }

                .amap-indoormap-floorbar-control.is-mobile .select-dock:after, .amap-indoormap-floorbar-control.is-mobile .select-dock:before {
                    top: 13px;
                }

            .amap-indoormap-floorbar-control.is-mobile .floor-list-box {
                height: 105px;
            }

        .amap-indoormap-floorbar-control .floor-list-item .floor-btn {
            color: #555;
            font-family: "Times New Roman",sans-serif,"Microsoft Yahei";
            font-size: 16px;
        }

        .amap-indoormap-floorbar-control .floor-list-item.selected .floor-btn {
            color: #000;
        }

        .amap-indoormap-floorbar-control .floor-btn {
            height: 28px;
            line-height: 28px;
            overflow: hidden;
            cursor: pointer;
            position: relative;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

            .amap-indoormap-floorbar-control .floor-btn:hover {
                background-color: rgba(221,221,221,.4);
            }

        .amap-indoormap-floorbar-control .floor-minus, .amap-indoormap-floorbar-control .floor-plus {
            position: relative;
            text-indent: -1000em;
        }

            .amap-indoormap-floorbar-control .floor-minus:after, .amap-indoormap-floorbar-control .floor-plus:after {
                content: "";
                position: absolute;
                margin: auto;
                top: 9px;
                left: 0;
                right: 0;
                width: 0;
                height: 0;
                border: solid transparent;
                border-width: 10px 8px;
                border-top-color: #777;
            }

            .amap-indoormap-floorbar-control .floor-minus.disabled, .amap-indoormap-floorbar-control .floor-plus.disabled {
                opacity: .3;
            }

            .amap-indoormap-floorbar-control .floor-plus:after {
                border-bottom-color: #777;
                border-top-color: transparent;
                top: -3px;
            }

        .amap-indoormap-floorbar-control .floor-list-box {
            max-height: 153px;
            position: relative;
            overflow-y: hidden;
        }

        .amap-indoormap-floorbar-control .floor-list {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        .amap-indoormap-floorbar-control .floor-list-item {
            position: relative;
        }

        .amap-indoormap-floorbar-control .floor-btn.disabled, .amap-indoormap-floorbar-control .floor-btn.disabled *, .amap-indoormap-floorbar-control.with-indrm-loader * {
            -webkit-pointer-events: none !important;
            pointer-events: none !important;
        }

        .amap-indoormap-floorbar-control .with-indrm-loader .floor-nonas {
            opacity: .5;
        }

        .amap-indoor-map-moverf-marker {
            color: #555;
            background-color: #FFFEEF;
            border: 1px solid #7E7E7E;
            padding: 3px 6px;
            font-size: 12px;
            white-space: nowrap;
            display: inline-block;
            position: absolute;
            top: 1em;
            left: 1.2em;
        }

        .amap-indoormap-floorbar-control .amap-indrm-loader {
            -moz-animation: amap-indrm-loader 1.25s infinite linear;
            -webkit-animation: amap-indrm-loader 1.25s infinite linear;
            animation: amap-indrm-loader 1.25s infinite linear;
            border: 2px solid #91A3D8;
            border-right-color: transparent;
            box-sizing: border-box;
            display: inline-block;
            overflow: hidden;
            text-indent: -9999px;
            width: 13px;
            height: 13px;
            border-radius: 7px;
            position: absolute;
            margin: auto;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }

        @@-moz-keyframes amap-indrm-loader {
            0% {
                -moz-transform: rotate(0);
                transform: rotate(0);
            }

            100% {
                -moz-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }

        @@-webkit-keyframes amap-indrm-loader {
            0% {
                -webkit-transform: rotate(0);
                transform: rotate(0);
            }

            100% {
                -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }

        @@keyframes amap-indrm-loader {
            0% {
                -moz-transform: rotate(0);
                -ms-transform: rotate(0);
                -webkit-transform: rotate(0);
                transform: rotate(0);
            }

            100% {
                -moz-transform: rotate(360deg);
                -ms-transform: rotate(360deg);
                -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }
    </style>



    <link rel="stylesheet" href="~/css/Addressreset.css">
    <link rel="stylesheet" href="~/css/StoreAddress.css">
    <style type="text/css">
        .amap-container {
            cursor: url(http://webapi.amap.com/theme/v1.3/openhand.cur),default;
        }

        .amap-drag {
            cursor: url(http://webapi.amap.com/theme/v1.3/closedhand.cur),default;
        }
    </style>

}

<div class="wrap" id="Index">
    <div id="container" class="amap-container" style="position: relative; background: rgb(252, 249, 242); cursor: url(&quot;http://webapi.amap.com/theme/v1.3/openhand.cur&quot;), default;">
        <object style="display: block; position: absolute; top: 0; left: 0; height: 100%; width: 100%; overflow: hidden; pointer-events: none; z-index: -1;" type="text/html" data="about:blank"></object>
        <div class="amap-maps">
            <div class="amap-drags" style="">
                <div class="amap-layers" style="transform: translateZ(0px);">
                    <div class="amap-markers" style="position: absolute; z-index: 120; top: 333px; left: 187px;">
                        <div class="amap-marker" style="top: -36px; left: -12px; z-index: 100; transform: rotate(0deg); transform-origin: 12px 36px 0px; display: block;">
                            <div class="amap-icon" style="position: absolute; overflow: inherit; opacity: 1;">
                                <img src="../img/locate_map.png" style="top: 0px; left: 0px;">
                            </div>
                        </div>
                    </div>
                    <canvas class="amap-layer" width="375" height="667" style="position: absolute; z-index: 0; top: 0px; left: 0px; height: 667px; width: 375px;"></canvas>
                    <canvas class="amap-labels" draggable="false" style="position: absolute; z-index: 99; height: 667px; width: 375px; top: 0px; left: 0px;" width="375" height="667"></canvas>
                </div><div class="amap-overlays" style=""></div>
            </div>
        </div>
        <div style="display: none;"></div>
        <div class="amap-controls">
            <div class="amap-geolocation-con" style="position: absolute; z-index: 9999; left: 10px; bottom: 20px;">
                <div class="amap-geo"></div>
            </div>
            <div class="amap-toolbar" style="left: 10px; top: 10px; visibility: visible;">
                <div class="amap-pancontrol" style="position: relative; display: block;">
                    <div class="amap-pan-left">
                    </div>
                    <div class="amap-pan-top"></div>
                    <div class="amap-pan-right"></div>
                    <div class="amap-pan-bottom"></div>
                </div>
                <div class="amap-locate" style="position: relative; left: 17px; display: block;"></div>
                <div class="amap-zoomcontrol" style="position: relative; left: 14px;">
                    <div class="amap-zoom-plus"></div><div class="amap-zoom-ruler" style="display: block;">
                        <div class="amap-zoom-mask" style="height: 18px;"></div>
                        <div class="amap-zoom-cursor" style="top: 18px;"></div>
                        <div class="amap-zoom-labels">
                            <div class="amap-zoom-label-street"></div>
                            <div class="amap-zoom-label-city"></div>
                            <div class="amap-zoom-label-province"></div>
                            <div class="amap-zoom-label-country"></div>
                        </div>
                    </div><div class="amap-zoom-minus"></div>
                </div>
            </div>
        </div>
        <a class="amap-logo" href="http://gaode.com" target="_blank">
            <img src="http://webapi.amap.com/theme/v1.3/autonavi.png">
        </a>
    </div>
    <div id="panel" class="amap-pl-pc"><div class="amap_lib_placeSearch"><div class="amap_lib_placeSearch_list"><ul class="amap_lib_placeSearch_ul"><li class="poibox"><div class="amap_lib_placeSearch_poi poibox-icon">1</div><h3 class="poi-title"><span class="poi-name">迈健身游泳健身会所</span><a class="poi-more" title="详情">&gt;</a></h3><div class="poi-info"><p class="poi-addr">地址：闽江北岸CBD商务区三迪联邦中心内</p><p class="poi-tel">电话：0591-83221117</p></div><div class="clear"></div></li></ul></div><div class="amap_lib_placeSearch_page"><span><a pageno="1" class="pageLink current">1</a></span></div></div></div>
    <div class="infor-div">
        <div class="ifd-l">
            <div class="ifd-name">@(Model?.Name)</div>
            <div class="ifd-address">@(Model?.Address)</div>
        </div>
        <!-- 导航按钮 -->
        <div class="ifd-r"></div>
    </div>
</div>


@section scripts
{

    <script type="text/javascript" src="http://webapi.amap.com/maps?v=1.3&amp;key=dd1f945f3fb4e77fd55632427896d4db&amp;plugin=AMap.Driving"></script>
    <script type="text/javascript" src="http://cache.amap.com/lbs/static/addToolbar.js"></script>
    <script>
        var map, geolocation, userPoint, pointer, myPoint;
        userPoint = [119.285606, 26.05657];
        map = new AMap.Map('container', {
            resizeEnable: true,
            zoom: 16,
            center: userPoint
        });

        AMap.service(["AMap.PlaceSearch"], function () {
            var placeSearch = new AMap.PlaceSearch({ //构造地点查询类
                pageSize: 5,
                pageIndex: 1,
                city: "all", //城市
                panel: "panel"
            });
            //关键字查询
            placeSearch.search('@(Model?.Address)', function (status, result) {
                if (result.info) {
                    console.log(result);
                    pointer = [result.poiList.pois[0].location.lng, result.poiList.pois[0].location.lat];
                    console.log(pointer);
                    MapMarker(pointer[0], pointer[1], '../img/locate_map.png');
                    map.panTo([pointer[0], pointer[1]]);
                } else {
                    alert('未搜索到该地址');
                }
            });


        });

        function MapMarker(poi1, poi2, imgurl) {

            new AMap.Marker({
                map: map,
                icon: imgurl,
                position: [poi1, poi2],
                offset: new AMap.Pixel(-12, -36)
            });
        }

        map.plugin('AMap.Geolocation', function () {
            geolocation = new AMap.Geolocation({
                enableHighAccuracy: true,//是否使用高精度定位，默认:true
                timeout: 10000,          //超过10秒后停止定位，默认：无穷大
                maximumAge: 0,           //定位结果缓存0毫秒，默认：0
                convert: true,           //自动偏移坐标，偏移后的坐标为高德坐标，默认：true
                showButton: true,        //显示定位按钮，默认：true
                buttonPosition: 'LB',    //定位按钮停靠位置，默认：'LB'，左下角
                buttonOffset: new AMap.Pixel(10, 20),//定位按钮与设置的停靠位置的偏移量，默认：Pixel(10, 20)
                showMarker: true,        //定位成功后在定位到的位置显示点标记，默认：true
                showCircle: false,        //定位成功后用圆圈表示定位精度范围，默认：true
                panToLocation: false,     //定位成功后将定位到的位置作为地图中心点，默认：true
                zoomToAccuracy: true      //定位成功后调整地图视野范围使定位位置及精度范围视野内可见，默认：false
            });
            map.addControl(geolocation);
            geolocation.getCurrentPosition();
            AMap.event.addListener(geolocation, 'complete', onComplete);//返回定位信息
            AMap.event.addListener(geolocation, 'error', onError);      //返回定位出错信息
        });
        function onError(data) {
            console.log('定位失败');
        }
        function onComplete(data) {
            $('.amap-geolocation-con .amap-geo').css({
                'width': "3.6rem",
                'height': "3.6rem",
                'border': "0",
                'border-radius': "50%",
                'background-size': "35% 35%"
            });
            $('.amap-geolocation-con').css({
                'top': "auto",
                'bottom': "1.2rem",
                'left': "auto",
                'right': "1.2rem"
            });

            myPoint = [data.position.lng, data.position.lat];
            console.log(myPoint);
            console.log(data);
        }
        // 构造导航路线
        var driving = new AMap.Driving({
            map: map
            // panel: "panel"
        });

        $(document).on('click', '.ifd-r', function () {
            map.clearMap();
            // MapMarker(myPoint[0],myPoint[1],'img/locate_map.png');
            driving.search(new AMap.LngLat(myPoint[0], myPoint[1]), new AMap.LngLat(pointer[0], pointer[1]));
        });


    </script>
}