@model User
 @{
     ViewBag.Title = "签到记录";
     var signModel = ViewBag.SignModel as UserStoreSign;
}

@section linkcss
{
    <link rel="stylesheet" href="~/css/SignInCourse.css">
}

<div class="wrap" id="Index">
    <div class="message-pop">
        <div class="mp-img">
            <img src="~/img/sign_cou_infor.png" alt="">
        </div>
        <div class="mp-tx">
            <img src="@(Model?.HeadImgUrl)"   style="width:19px;height:19px;" alt="">
        </div>
        <div class="mp-name">@(Model?.RealName)</div>
        <div class="mp-txt">签到成功!</div>
    </div>
    <div class="cont sign-course">
        <div class="sc-div">
            <div class="sc-times">
                <div>
                    <strong>@(signModel.MaxCount)</strong>
                    <em>quantity</em>
                </div>
            </div>
            <div class="sc-date">恭喜您，打卡成功！</div>
            <div class="sc-date">Congratulations!Clock success</div>
            <div class="sc-txt">出勤良好</div>

        </div>
        <a href="/store/MasterSort?storeId=@(Request["storeId"])" class="sc-ph-btn">查看排行榜</a>
    </div>
</div>


@section scripts
{<script>
</script>
}